[Unit]
Description=XWiki instance powered by Jetty
After=network.target

[Service]
Type=simple
User=xwiki
Group=xwiki
WorkingDirectory=/usr/lib/xwiki-jetty
EnvironmentFile=/etc/xinit/xinit.cfg
ExecStart=/usr/lib/xwiki-jetty/start_xwiki.sh
ExecStop=/usr/lib/xwiki-jetty/stop_xwiki.sh
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=10s
TimeoutStopSec=120s
LockPersonality=true
ProtectHome=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectKernelLogs=true
RestrictSUIDSGID=true
PrivateTmp=true
PrivateUsers=true
NoExecPaths=/tmp /var/tmp
NoNewPrivileges=true
UMask=0077

[Install]
WantedBy=multi-user.target