[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/usr/local/bin/xinit
Description=LSB: Xinit script to manage XWiki availability.
After=remote-fs.target

[Service]
User=XWIKI_USER
Group=XWIKI_GROUP
Type=forking
Restart=on-failure
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/usr/local/bin/xinit start
ExecStop=/usr/local/bin/xinit stop
Environment=LAUNCHED_BY_SYSTEMD=true

[Install]
WantedBy=multi-user.target
