#
# This file it is used for JVM and tomcat.sh settings
#

####################
# General Settings #
####################

# Jabber Notification
#
# SEND_JABBER_MESSAGE: If you want to send notification on jabber
# set this parameter to "yes". By default jabber notification is disabled.
#SEND_JABBER_MESSAGE="no"

# JABBER_USERS: Specify to what users to notify o jabber. You can choose
# any user from LDAP Server. You can specify more then one user separating them
# with space. Users should use the following format: user@jabber_server
#JABBER_USERS=""

# Mail Notification
#
# SEND_MAIL_NOTIFICATION: Set this parameter to "no" if you want to not send mail notifications.
# By default this feature is enabled.
#SEND_MAIL_NOTIFICATION="yes"

# MAIL: Using this parameter you can specify one or more email
# addresses to which notifications will be sent. You can specify multiple email addresses
# by separating them with a comma (not space).
# Default value: empty
#MAIL=""

# SERVER_NAME: Use this parameter to set server name.
# If this parameter is not set the output of hostname command
# will be used.
# Default value: empty
#SERVER_NAME=""

# LOG_LINE_NUMBER: How many lines from cataline.out file you want to
# include in mail notification. By default the last 2000 lines will be
# included in mail notification.
#LOG_LINE_NUMBER="2000"

# LOG_ROTATE_SIZE: Size in bytes to trigger log rotation on restart (Legacy Tomcat only).
# Default: 10485760 (10MB)
#LOG_ROTATE_SIZE="10485760"

# CONNECTION_STATE_PORTS: You can use this parameter to specify the TCP ports
# for which you want to receive connection state information(ESTABLISHED,
# CLOSE_WAIT, CLOSE_WAIT ... etc). You can specify multiple ports separating
# them with space. The default value for this parameter is "8080 8009"
#CONNECTION_STATE_PORTS="8080 8009"

# LANG: Using this parameter you can set the locale name.
# By default it is set to "en_US.UTF-8"
#LANG="en_US.UTF-8"

# MYSQL_USER: Use this parameter to set a user which will be used to
# access mysql server. User must have privileges to list the full
# process list table and all databases.
# Default value: "root"
#MYSQL_USER="root"

# MYSQL_PASSWORD: Password to use when connecting to mysql server.
# Default value: empty
#MYSQL_PASSWORD=""

# MYSQL_HOST: Use this parameter to specify a host other then localhost.
# This host will be used to get mysql statistics and informations.
# Default value: "localhost"
#MYSQL_HOST="localhost"

# SPAM_THRESHOLD: This parameter is use to set a threshold for spam detection.
# All pages with an amount of comments >= this parameter will be considered as spammed.
#SPAM_THRESHOLD="50"

# DAEMONS_TO_MONITOR: Use this parameter to specify for which daemons
# you want to receive top informations. Separate them with space.
# Default value: "java mysqld apache2"
#DAEMONS_TO_MONITOR="java mysqld apache2"

# CONTAINER_TYPE: Use this parameter to specify the container type.
# Values: tomcat, jetty
# Default value: tomcat
#CONTAINER_TYPE="tomcat"

# DB_TYPE: Use this parameter to specify the database type.
# Values: mysql, pgsql
# Default value: mysql
#DB_TYPE="mysql"

# SYSTEMD_HARDENING: Apply security hardening directives to the systemd service override.
# This sandboxes the XWiki/Java process with filesystem protection, capability dropping,
# syscall filtering, namespace restrictions, and device ACLs.
# NOTE: MemoryDenyWriteExecute is intentionally not set — Java JIT requires W^X.
# Values: yes, no
# Default value: "yes"
#SYSTEMD_HARDENING="yes"

# XWIKI_INSTALL_DIR: Use this parameter to specify the path where XWiki
# is installed.
# Default value: "usr/local/xwiki"
#XWIKI_INSTALL_DIR="/usr/local/xwiki"

# VAR_DIR: Specifies where to store temporary data needed by the program
# Default value: "/var/run/xinit"
#VAR_DIR="/var/run/xinit"

# KILL_QUIT_TIME_WAIT: Use this parameter to set how much time (in seconds)
# to wait after kill -QUIT command is executed.
# Default value: 4
#KILL_QUIT_TIME_WAIT="4"

# MAINTENANCE_ON_RESTARTS : Enable maintenance mode on any restart, including crashes.
# It will create $VAR_DIR/maintenance file (default /var/run/xinit/maintenance) if set to 1, during restarts.
# Default value: 1
#MAINTENANCE_ON_RESTARTS="1"

# MAINTENANCE_TIME : Parameter to set a maintenance time set after any restart
# that can occur. The wiki won't be restarted again during that amount of seconds.
# Default value: 600
#MAINTENANCE_TIME="600"

# MAINTENANCE_REMINDER : Send an email periodically to the emails in the MAIL parameter while maintenance mode is on
# You can change the interval at which the emails are sent using the MAINTENANCE_REMINDER_PERIOD variable below.
# Default value: 1
#MAINTENANCE_REMINDER="1"

# MAINTENANCE_REMINDER_PERIOD : Sets the period in which maintenance reminder emails are being sent. Only useful if
# MAITENANCE_REMINDER is enabled
# Default value: 3600
#MAINTENANCE_REMINDER_PERIOD="3600"

# CLEAN_TEMP_ON_STARTUP : Enable this if you want to remove everything in the Tomcat temp folder when starting up
# Default value: 1
#CLEAN_TEMP_ON_STARTUP="0"

# THREADDUMP_ANALYSIS_FILE : If THREADDUMP_ANALYSIS is enabled below, this file will store the
# Thread dump data sent to the webservice
# Default value: /var/tmp/xinit_thread_dump
#THREADDUMP_ANALYSIS_FILE="/var/tmp/xinit_thread_dump"

# THREADDUMP_ANALYSIS : Send the thread dump to a remote webservice for analysis and return the
# results inside the report. Set to empty if you want this feature disabled.
# Example value: "curl --data-binary @$THREADDUMP_ANALYSIS_FILE http://jthreader.xwiki.com/api/1/explain"
# Above example uses the XWikiSAS provided jthreader web serivce.
# Default value: ""
#THREADDUMP_ANALYSIS=""


############################
# First Request (XINIT-14) #
############################
#
# MAKE_FIRST_REQUEST: Initialize XWiki after container start by making HTTP requests
# This speeds up first user access and can initialize multiple subwikis
#
# Values:
#   "no"  - Disabled (default)
#   "yes" - Make single request to CHECK_HTTP_URL
#   Comma-separated URLs - Make requests to multiple subwikis
#
# Examples:
#   Single wiki:
#     MAKE_FIRST_REQUEST="yes"
#
#   Farm with subwikis:
#     MAKE_FIRST_REQUEST="http://localhost:8080/xwiki,http://localhost:8080/xwiki/wiki/infra,http://localhost:8080/xwiki/wiki/marketing"
#
# Tip: Each URL will be requested sequentially with a 50 second delay after container start
#
# Default: "no"
#MAKE_FIRST_REQUEST="no"

# Time to wait before making the request.
# Increase this value on large farms
#FIRST_REQUEST_SLEEP_TIME=30

####################
# OpenOffice Check #
####################

# OO_CHECK: Set this parameter to 1 if you want to check
# OpenOffice status or 0 instead. By default it is set to 1.
#OO_CHECK="1"

# OO_SERVER_TYPE: This parameter takes a value of 0 or 1
# 0 - Internally managed server instance. (Default)
# 1 - Externally managed (local) server instance.
# When OO server is internally managed it will only be checked
# when tomcat is stopped/restarted and it will be killed if it is
# still running after tomcat is stopped.
#OO_SERVER_TYPE="0"

# OO_SERVER_PORT: This parameter specify on which port should
# OpenOffice daemon run. Default is 8100
#OO_SERVER_PORT="8100"

# OO_DAEMON_PATH: This parameter specifies the path to OO daemon.
# Default is: /opt/openoffice.org3/program/soffice.bin
#OO_DAEMON_PATH="/opt/openoffice.org3/program/soffice.bin"

##############
# HTTP Check #
##############

# CHECK_HTTP: This parameter is used to enable/disable http check function.
# Set this parameter to "yes" is you want to enable http check function.
# By default http check function is disabled.
#CHECK_HTTP="no"

# EXPECT_HTTP_RESPONSE_CODE: Expected HTTP response codes (comma-separated)
# The wiki is considered available if it returns any of these codes
#
# Common codes:
#   200 - OK (success)
#   301, 302 - Redirects (XWiki often redirects /xwiki to /xwiki/)
#   401 - Unauthorized (wiki requires auth but is responding)
#   403 - Forbidden (wiki responding but access denied)
#
# Examples:
#   Public wiki expecting redirect: "200,301,302"
#   Protected wiki: "200,401"
#   Any response means it's alive: "200,301,302,400,401,403,404,500"
#
# Default value: "200,301,302"
#EXPECT_HTTP_RESPONSE_CODE="200,301,302"

# USE_DNS: This parameter is used to specify if xinit will take into account if the
# domain name used to check the wiki was resolve or not. If set to "yes" xinit will NOT
# restart the wiki in case it was not able to resolve the domain name but a mail will be sent
# to the addresses specified by MAIL parameter. Set this parameter to "no" in case you
# don't want enable this feature.
# Default value: yes
#USE_DNS="yes"

# CHECK_HTTP_URL: Use this parameter to pecify the address of the wiki you want to check.
# You can use an IP or a domain name and you can also specify a different port to connect to.
# The format is: http://domain or http://domain:8080 or use and IP.
# If ca use https instead of http.
# Default value: empty
#CHECK_HTTP_URL=""

# USE_BASIC_AUTH: Set to "yes" to enable HTTP authentication on the wiki check.
# The auth scheme (basic or digest) is selected via HTTP_AUTH_TYPE below.
# Default value: "no"
#USE_BASIC_AUTH="no"

# HTTP_AUTH_TYPE: Which auth scheme to use when USE_BASIC_AUTH=yes.
# Values: basic, digest
# Default value: "basic"
#HTTP_AUTH_TYPE="basic"

# CHECK_HTTP_INSECURE: When "yes", curl is run with --insecure (skips TLS verification).
# Use only for self-signed certificates or localhost loopback checks.
# Default value: "no"
#CHECK_HTTP_INSECURE="no"

# Credentials used when USE_BASIC_AUTH=yes.
#HTACCESS_USERNAME="username"
#HTACCESS_PASSWORD="password"

# Http time parameters in sec.
#CHECK_HTTP_TIMEOUT="50"
#CHECK_HTTP_TRIES="2"
#CHECK_HTTP_WAITRETRY="10"

# Slow Response Monitoring
# SEND_SLOW_RESPONSE_ALERT: Send alert for slow but successful HTTP responses
# Default value: "no"
#SEND_SLOW_RESPONSE_ALERT="no"

# SLOW_RESPONSE_THRESHOLD: Threshold in milliseconds for slow response alerts
# Default value: "10000" (10 seconds)
#SLOW_RESPONSE_THRESHOLD="10000"

#################
# Process Check #
#################

# This function checks if the java process is running or not.

# PROCESS_CHECK: This function is enabled by default
# and can be disabled by setting this parameter to "no".
#PROCESS_CHECK="yes"

# COLLECT_APACHE_STATUS: When "yes", the diagnostics report fetches
# http://127.0.0.1/server-status from Apache mod_status.
# Default value: "no"
#COLLECT_APACHE_STATUS="no"

# NAGIOS_INCLUDE_PASSWORD: Set to "yes" to expose HTACCESS_PASSWORD in
# `xinit nagios-info` output. Default masks it with "***".
# Default value: "no"
#NAGIOS_INCLUDE_PASSWORD="no"

####################
# Jetty Settings   #
####################

# MEM_START: Minimum heap size (-Xms)
# Works for both Tomcat and Jetty
# Default: "1024m"
#MEM_START="1024m"

# MEM_MAX: Maximum heap size (-Xmx)
# Works for both Tomcat and Jetty
# Default: "2048m"
#MEM_MAX="4096m"

# XWIKI_OPTS: Complete JVM options for Jetty (overrides MEM_START/MEM_MAX if set)
# Use this to set memory AND add javaagent or other JVM options
# Examples:
#   Memory only: XWIKI_OPTS="-Xms2048m -Xmx4096m"
#   With Glowroot: XWIKI_OPTS="-Xms2048m -Xmx4096m -javaagent:/opt/glowroot/glowroot.jar"
#   With YourKit: XWIKI_OPTS="-Xms2048m -Xmx4096m -agentpath:/opt/yjp/bin/linux-x86-64/libyjpagent.so"
# Default: Uses MEM_START and MEM_MAX
#XWIKI_OPTS="-Xms2048m -Xmx4096m -javaagent:/opt/glowroot/glowroot.jar"

# JAVA_OPTS: Additional Java options (for agents, system properties, etc.)
# Default: empty
#JAVA_OPTS=""

# JVM_AGENTPATH: Legacy agent path configuration (deprecated, use XWIKI_OPTS or JAVA_OPTS instead)
#JVM_AGENTPATH="/opt/yjp/bin/linux-x86-64/libyjpagent.so=delay=10000"

# After changing memory or agent settings:
# 1. xinit setup-systemd (creates/updates systemd override)
# 2. systemctl daemon-reload
# 3. systemctl restart xwiki.service (or tomcat10.service)

# JETTY_HOME: Jetty installation directory
# Default value: "/usr/lib/xwiki-jetty" (Debian package)
#JETTY_HOME="/usr/lib/xwiki-jetty"

# JETTY_BASE: Jetty base directory
# Default value: "/usr/lib/xwiki-jetty"
#JETTY_BASE="/usr/lib/xwiki-jetty"

# JETTY_USER: User running Jetty
# Default value: "xwiki" (Debian package)
#JETTY_USER="xwiki"

# JETTY_PORT: HTTP port for Jetty
# Default value: "8080"
#JETTY_PORT="8080"

# JETTY_STOP_PORT: Stop port for Jetty
# Default value: "8079"
#JETTY_STOP_PORT="8079"

###################
# Tomcat Settings #
###################

# JVM & Apache Tomcat Settings
#
# NAME: Default value: "Tomcat"
#NAME="Tomcat"

# TOMCAT_HOME: Default value "/usr/local/tomcat"
#TOMCAT_HOME="/usr/local/tomcat"

# JAVA_HOME: Defult value "/usr/local/java"
#JAVA_HOME="/usr/local/java"

# CATALINA_PID: Default value "/var/tmp/catalina.pid"
#CATALINA_PID="/var/tmp/catalina.pid"

# MEM_START: minimum heap size (-Xms)
# If you change the default value you MUST uncomment
# CATALINA_OPTS parameter.
# Default value: "1024m"
#MEM_START="1024m"

# MEM_MAX: maximum heap size (-Xmx)
# If you change the default value you MUST uncomment
# CATALINA_OPTS parameter.
# Default value: "1024m"
#MEM_MAX="1024m"

# TOMCAT_USER: user java will run as.
# Default value: "tomcat"
#TOMCAT_USER="tomcat"

# CATALINA_OPTS: cataline options
# Default value "-server -Xms$MEM_START -Xmx$MEM_MAX -Dfile.encoding=utf-8 -Djava.awt.headless=true -Djava.net.preferIPv4Stack=true -XX:+UseParallelGC -XX:MaxGCPauseMillis=100"
#CATALINA_OPTS="-server -Xms$MEM_START -Xmx$MEM_MAX -Dfile.encoding=utf-8 -Djava.awt.headless=true -Djava.net.preferIPv4Stack=true -XX:+UseParallelGC -XX:MaxGCPauseMillis=100"

# JVM_DEBUG: If set to "yes" tomcat will start in debug mode
# with remote access available.
# Default is "no".
#JVM_DEBUG="no"

# JVM_DEBUG_OPTS: Java options to start in debug mode.
# Default value "-Xdebug -Xnoagent -Djava.compiler=NONE -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005"
#JVM_DEBUG_OPTS="-Xdebug -Xnoagent -Djava.compiler=NONE -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005"
